body { font-family: verdana, arial, helvetica, sans-serif; font-size: 11px; background-color: #E8E8E8; margin: 0px; scrollbar-base-color: #444444; scrollbar-arrow-color: White; scrollbar-DarkShadow-Color: #001D24; }

h1{ font-size: 16px; }

h2 { font-size: 14px; }

h3, .firstletter, .title { font-size: 12px; }

td { font-size: 11px; text-decoration: none; }

table { font-size: 11px; text-decoration: none; }

a:link, a:visited, a:active  { font-size: 11px; color: #3D3C48; text-decoration: none; }

a:hover { font-size: 11px; color: #AA0000; text-decoration: underline;}

a.txl:link, a.txl:visited { font-size: 11px; color: #FFFFFF; text-decoration: none; }

a.txl:active { font-size: 11px; color: #014D5F; text-decoration: none; }

a.txl:hover { font-size: 11px; color: #F3960B; text-decoration: underline; }

.fontsmall { font-family: verdana, arial, helvetica; font-size: 9px; }

.distributers { font-size: 12pt; }

font, .info, .design, pre { font-size: 11px; }

.menu { border: 2px #DDDCCA solid; font-size: 11px; }

.cellheader { border-bottom:1px #00262F solid; background-color: #fefefe; font-size: 12px; font-weight: normal; color: #68E3FF; padding: 4px; }

.cellheader a, .cellheader a:visited { color: #68E3FF; }

.scellheader, .sscellheader { border:0px #00262F solid; background-color: #007A97; font-size: 11px; font-weight: bold; color: #68E3FF; padding: 4px; }

.bigcellheader { border-top: 1px #374646 solid; border-left: 1px #374646 solid; border-right: 1px #374646 solid; border-bottom: 1px #374646 solid; font-size: 12px; font-weight: normal; color: #F1F1F1; link: #F1F1F1; vlink: #000000; }

.tblheader { background-color: #D8DDE0; border: 1px #374646 solid; font-size: 11px;  }

.tdshadeyellow { background-color: #FFFFAA; border: 1px #374646 solid; font-size: 11px;  }

.tdshadered { background-color: #FFAAAA; border: 1px #374646 solid; font-size: 11px; }

.tdshade1 { background-color: #DFE1E5; border: 1px #374646 solid; font-size: 11px; }

.tdshade2 { background-color: #C9CBD3; border: 1px #374646 solid; font-size: 11px; }

.invis { display: none; }

.tdshade1sm { background-color: #DDDDDD; border: 1px #374646 solid; }

.tdshade2sm { background-color: #EEEEEE; border: 1px #374646 solid;  }

.skipped { color: #D0D002; }

.ok { color: #46BF46; }

.fail { color: #C14C4C; }

.failed { color: #B63131; }

a.headerlink, a.headerlink:link, a.headerlink:visited, a.headerlink:active { color: #000000; }

a.headerlink:hover { color: #FD0000; }

select, option { color: #000000; font-size: 11px ; font-weight: none; text-decoration: none; background: #FFFFFF; border: 1px solid #999999; }

textarea { background-color: #F3F3F3; color: #000000; font-size: 11px ; font-weight: none; text-decoration: none; border: 1 inset  #E2E2E2; }

input.submit { color: #000000; font-size: 11px ; font-weight: none; text-decoration: none; background: #FFFFFF; border: 1 solid #999999; -moz-outline: 1px solid #999999; -moz-border-radius: 10px; }

input { background-color: #EBEBEF; color: #000000; font-size: 11px ; font-weight: none; text-decoration: none; border: 1 inset #EBEBEF; }

legend { color: #000000; position: relative; top: -.5em; font-weight: bold; font-size: 11px; }

.tbcell { font-size: 11px; color: #000000; border-top: 1px #aaaaaa solid; border-bottom: 1px #aaaaaa solid; }

fieldset { border: 1px solid #D0D0D0; -moz-border-radius: 10px; position: relative; background-color: #DEDEDE;  padding: 5px; }

.redtext { color: #AA0000; }

#categories a { background-color: #006982; display: block;  text-decoration: none; font-size: 10px; color: #95EBFF; border-bottom: 1px solid #0087A6; padding: 1px; padding-left: 10px;}

#categories a:hover { background-color: #004A5B; font-size: 10px; color: #95EBFF; text-decoration: none; background-image: url(/themes/7dana/images/arrow.gif); background-position: right; background-repeat: no-repeat;}

#navigation { color: #AEF0FF; background-color: #004353; padding: 5px; font-size: 10px;}

#navigation a { display: inline; color: #AEF0FF; padding: 5px; background-color: #004353; text-decoration: none; font-weight: bold; border-right: 1px solid #005F75; font-size: 10px;}

#navigation a:hover { color: #004251; text-decoration: none; background-color: #75E5FF;}

.main_frame { padding: 10px}

.logo { background-color: #00586C; border-bottom: 1px solid #75E5FF; color: #00BAE6; }

.sub_navigation { background-color: #00586C; border-top: 1px solid #75E5FF; font-size: 9px; color: #00586C; border-bottom: 2px solid #003744; text-transform: lowercase; padding: 1px;}

.sub_navigation a, .sub_navigation a:visited { color: #00586C;}

.left { background-color: #006982; width: 213px; color: #00BAE6;}

.left a, .left a:visited { color: #00BAE6;}

.menu_head { background-color: #00586C; font-size: 10px; color: #B0F0FF; border-bottom: 1px solid #004859; padding: 4px; cursor:default; cursor:pointer}

.listing { background-color: #E0E0E0; border: 1px solid #C7C7C7; padding: 7px; }

.listing2 { background-color: #BDF3FF; padding: 7px; border: 1px solid #0088A8; }

